<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dona title="Grafica Uno" [labels]="labels1" [data]="data1"></app-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dona title="Grafica Dos"></app-dona>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dona title="Grafica Tres"></app-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dona title="Grafica Cuatro"></app-dona>
            </div>
        </div>
    </div>
</div>